<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

<h1>Login</h1>
<span th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null and session[SPRING_SECURITY_LAST_EXCEPTION].message != null}" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}">Invalid credentials</span>

<form th:action="@{/login}" method="post">
    <table>
        <tr>
            <td>Username Demo:</td>
            <td><input type="text" name="username" value=""></td>
        </tr>
        <tr>
            <td>Password Demo:</td>
            <td><input type="text" name="password"></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"> </td>
        </tr>
    </table>
</form>

</body>

</html>